{{>header}}

<body>
    <div class="container content-container">
        <div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
            aria-labelledby="Sign Up" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered " role="document">
                <div class="modal-content">
                    <form class="signupForm text-center border border-light p-5" action="/login" method="POST">
                        <h3 class="mb-4" style="font-weight: bold; color: #17a2b8;">Login</h3>
                        <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
                        <small id="helpTextBlock" class="help-text form-text text-muted mb-4">
                            Enter your email
                        </small>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        <small id="helpTextBlock" class="help-text form-text text-muted mb-4">
                            Enter your password
                        </small>

                        <button class="btn btn-info btn-block" type="submit">Login</button>
                        <small id="signUpLink" class="help-text form-text text-muted mb-4">
                            Not a member ? <a href="/signup">Sign Up</a>
                        </small>
                        
                        {{#if errorMessage}}
                        <small id="error-message" class="form-text mb-4">{{errorMessage}}</small>
                        {{/if}}

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>
{{>footer}}