html {
  height: 100%;
}

body{
    background-color: #f5f0f0;
    height: 100%;
}

.content-container{
    min-height: 100%;

}

.container{
    background-color: white;
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'Open Sans', sans-serif;

}

.card{
    background-color: #0e94b3;
}




.username{
    color: orange;
    
    font-weight: bolder;
}

.card-title{
    font-weight: 500;
}

/* .card-button{
    width: 130px;
} */


/* .card-img-top{
    border-radius: 12px;
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */


/* .logout{

} */


.modal-header{
    border-radius: 3px 3px 0 0;
    color: black;
    background-color: #f2f2f2;
}

.help-text{
    text-align: left;
}

.modal-backdrop
{
    opacity:0.9 !important;
}

#error-message, #linkAddError {
    color: red;
    font-weight: bold;
    display: block;
}




#signUpLink{
    display: block;
    text-align: center;
}

#loginLink{
    display: block;
    text-align: center;
}


